<div class="jumbotron text-left">
  <div data-chat="message-list">

  </div>
</div>
<div class="">
  <!-- <h3>Chat</h3> {{textarea value=messageIncoming}} -->
  <!-- <h3>Input here</h3> -->
  {{input value=message autofocus="autofucus" }}
  <button {{action 'sendButtonPressed'}}>Send</button>
</div>
