<div class=" jumbotron text-center">
  <h1 class="text-center">Welcome to TagMe!</h1>
  <div class="form-horizontal form-group form-group-lg row">
    <!--  col-xs-offset-1 col-md-offset-2 col-sm-6 col-md-5-->
    <div class=" row-xs-10 col-xs-10  col-sm-offset-1 col-xs-offset-1 ">
      <!-- <body onload={{action 'loadbox'}}> -->
        <p>Need something to do after finals? Need a way to avoid studying for finals?</p>
        <p>You need to play TagMe!</p>
        <p>TagMe is a fun game where you can guess the hashtags associated with each gif in order to score some points.</p>
        <p>Make sure to guess all of the hashtags before the timer runs out!</p>
        <p>Stop reading this description and get to playing!</p>
        <p>Have fun tagging!</p>
    </div>
  </div>
</div>
