<div class=" jumbotron text-center">
  <h1 class="text-center">Welcome to HashMeme!</h1>
  <div class="form-horizontal form-group form-group-lg row">
    <!--  col-xs-offset-1 col-md-offset-2 col-sm-6 col-md-5-->
    <div class=" row-xs-10 col-xs-10  col-sm-offset-1 col-xs-offset-1 ">
      <!-- <body onload={{action 'loadbox'}}> -->
        <p>Need something to do after finals? Need a way to avoid studying for finals?</p>
        <p>You need to play HashMeme!</p>
        <!-- <img src="https://images.pexels.com/photos/442576/pexels-photo-442576.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"> -->
        <!-- {{#link-to 'tutorial'}}
          <button class="btn btn-primary btn-block" name="tutorial-button">Tutorial</button>
        {{/link-to}}
        <br>
          {{#link-to 'play'}}
            <button class="btn btn-primary btn-block" name="play-button">Play</button>
          {{/link-to}} -->
<!-- </body> -->

    </div>
  </div>
</div>
