<h2>Scoreboard</h2>
<table>
  <tr>
  <th>Username</th>
  <th>Score</th>
</tr>
<!-- scoreboard controller sorts the model by score -->
{{#each sortedScores as |user|}}
<tr>
<td>{{user.username}}</td>
<td>{{user.score}}</td>
</tr>
{{/each}}
</table>
