<!-- This is ready template for scoreboard page
We'll complete it once username popup is ready -->

<table>
  <tr>
  <th>Username</th>
  <th>Score</th>
</tr>
{{#each model as |post|}}
<tr>
<td>{{post.title}}</td>
<td>{{post.body}}</td>
</tr>
{{/each}}
</table>
