<div class=" jumbotron">
  <div class="tut-title">
    <h1>How to Play</h1>
  </div>
  <div class="instructions">
    <p>1. There will be 3 rounds total</p>
    <p>2. Each round will be 1 minute long</p>
    <p>3. Enter your guess of what tag is associated with the gif</p>
    <p>4. Your correct and incorrect guesses will be displayed on the sidebars</p>
    <p>5. Score will be updated for each correct guess</p>
    <p>6. At the end of the 3rd round, you will get to see the scoreboard</p>
  </div>
    <div class="ready-msg">
      <p>Ready to get started? Click the Play button to start the game!</p>
    </div>

    <div class="play-btn">
      {{#link-to 'play'}}
        <button class="btn btn-primary" name="play-button">Play</button>
      {{/link-to}}
  </div>

</div>
